body, h1, h2, h3, h4, h5, a, button, input, textarea, .button, label, p, select {
  font-family: "Source Code Pro", monospace;
  margin: 1ex 0.5em;
  padding: 0.5ex 0em;
}

body {
  background: #0e0e16;
  color: #cccccc;
}

section {
  margin: 1ex 1em;
}

label, p {
  margin: 2ex 0.5em;
  padding: 0.5ex 0em;
}

button, .button, span, pre, input, label {
  font-size: 16px;
}

textarea {
  font-size: 24px;
}

button, input, textarea, .button {
  background-color: #323253;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.2em;
  text-align: left;
  text-decoration: none;
}
button:hover, input:hover, .button:hover {
  background-color: #333;
}
button:active, input:active, .button:active {
  background-color: rgb(78, 18, 18);
}
.button.disabled {
  background-color: #3c3c53;
  cursor: default;
}

.row, .lanes {
  display: flex;
  max-width: 1040px;
}

.lanes {
  flex-wrap: wrap;
  max-width: 960px;
}
.lane {
  padding: 0;
  margin: 0 0.5em;
  align-self: center;
  flex-basis: 1.5em;
}

canvas {
  width: 960px;
  height: 480px;
}

hr {
  margin: 0px 1em;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 2.4em;
  height: 1.4em;
  margin: 2ex 1em;
  padding: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #222;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

/* Start Select*/

select {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 2ex 1em;
  padding: 0;
  height: 2em;
  top: 0.5ex; 
  background-color: #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.suffixed {
  margin-right: 0px;
}

p.prefixed {
  margin-left: 0px;
}

/* End Select */

/* Start Map */

#map {
  height: 1024px;
  cursor:crosshair;
}

/* End Map */