body, h1, h2, h3, h4, h5, a, button, input, textarea, .button, label, p {
  font-family: "Source Code Pro", monospace;
  margin: 1ex 0.5em;
  padding: 0.5ex 0em;
}

body {
  background: #0e0e16;
  color: #cccccc;
}

section {
  margin: 1ex 1em;
}

label, p {
  margin: 2ex 0.5em;
  padding: 0.5ex 0em;
}

button, .button {
  font-size: 16px;
}

span, pre, input, textarea {
  font-size: 24px;
}

button, input, textarea, .button {
  background-color: #323253;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.2em;
  text-align: left;
  text-decoration: none;
}
button:hover, input:hover, .button:hover {
  background-color: #333;
}
button:active, input:active, .button:active {
  background-color: rgb(78, 18, 18);
}
.button.disabled {
  background-color: #3c3c53;
  cursor: default;
}

.row, .lanes {
  display: flex;
  max-width: 1040px;
}

.lanes {
  flex-wrap: wrap;
  max-width: 1040px;
}
.lane {
  padding: 0;
  margin: 0 1em;
  align-self: center;
  flex-basis: 2em;
}

canvas {
  width: 960px;
  height: 480px;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 2ex 1em;
  padding: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #222;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}