.cards-row {
  display: flex;
  flex-direction: row;
}

.card {
  outline: solid;
  padding: 15px;
}

.new-lane-card {
  background: grey;
  color: white;
  outline: solid;
  padding: 15px;
}

.icon {
  width: 50px;
}

.clickable:hover {
  opacity: 50%;
}

table,
td {
  border: 1px solid black;
}
