.cards-row {
  display: flex;
  flex-direction: row;
}

.card {
  outline: solid;
  padding: 15px;
}

.card button {
  background: none;
  border: none;
}
.card button:hover:enabled {
  opacity: 50%;
}
.card button:disabled {
  opacity: 25%;
}

.new-lane-card {
  background: grey;
  color: white;
  outline: solid;
  padding: 15px;
}
.new-lane-card:hover {
  opacity: 50%;
}

.icon {
  width: 50px;
}

table,
td {
  border: 1px solid black;
}
